---
layout: default
---
<div id="sidebar">
							
		<div class="sidebar-item" id="about">
					<h2 class="section_title">About</h2>
					<p>I'm <strong>Nick Bain</strong>.</p>
					<p>A developer, JavaScript enthusiast and technology fiend.</p>

					<ul class="sidebar-item no-bullet">	
					
						<li class="contact-item"><a href="https://github.com/NickBain" target="_blank" title="github">/github</a></li>
						<li class="contact-item"><a href="https://uk.linkedin.com/pub/nicholas-bain/4b/305/4ab/en" target="_blank" title="twitter_link">/linkedin</a></li>
						<li class="contact-item"><a href="/contact" title="email">/email</a></li>
					
					</ul>

			</div>
			
			
		
</div>



<div class="content home-content">
	<section>
	<h2 class="section_title">Projects</h2>
  		<p><a href="https://www.logrequest.com">logrequest</a> - a free tool to debug HTTP request. Great for testing webhooks</p>
	</section>
	

	<!-- Pagination links -->
<div id="post-pagination" class="pagination">
{% if paginator.total_pages > 1%}
  {% if paginator.previous_page %}
  <p class="previous">
    {% if paginator.previous_page == 1 %}
    <a href="/">Previous</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}">Previous</a>
    {% endif %}
  </p>
  {% else %}
  <p class="previous disabled">
    <span>Previous</span>
  </p>
  {% endif %}

  <ul class="pages">
    <li class="page">
      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
    <li class="page">
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}">{{count}}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
  <p class="next">
    <a href="/page{{paginator.next_page}}">Next</a>
  </p>
  {% else %}
  <p class="next disabled">
    <span>Next</span>
  </p>
  {% endif %}
{% endif %}
</div>

</div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'nbain'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>


